/*
Primary (dark) #283c98
Secondary (light) #40a5e0
Light Grey #ccc
Dark Grey #555555
*/

/* ------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------ */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    background-color: fff;
    color: #555555;
    font-family: 'Montserrat', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}




/* ------------------------------------ */
/* REUSEABLE COMPONENTS */
/* ------------------------------------ */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0 80px 0;
}

.box {
    padding: 1%;
}

/* ------ HEADINGS -------*/


h1,
h2,
h3,
h4 {
    text-transform: uppercase;
}

h1 {
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #555555;
    font-size: 200%;
    word-spacing: 3px; 
    letter-spacing: 1px; 
}

h2 {
    font-weight: 300;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px; 
}

h3 {
    font-weight: 400;
    font-size: 105%;
    margin-bottom: 15px;
    color: #283c98;
}

h4 {
    font-size: 300%;
    text-align: center;
    color: #283c98;
}

h5 {
    font-size: 120%;
    font-weight: 300;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #283c98;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}



/* ------- Buttons ------ */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 100;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #283c98;
    border: 1px solid #283c98;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #283c98;
    color: #283c98;
    font-weight: 400;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #283c98;
}

.btn-full:hover,
.btn-full:active {
    background-color: #40a5e0;
    border: 1px solid #40a5e0;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #283c98;
    color: #fff;
}

/* ------- Links ------ */

a:link,
a:visited {
    color:#283c98;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
    
    
}

a:hover,
a:active {
    color: #283c98;
    border-bottom: 1px solid #283c98;
    transition: border-bottom 0.2s, color 0.2s;
    
}


/* ------------------------------------ */
/* PRE-HEADER & NAVIGATION */
/* ------------------------------------ */


.section-preheader {
    background-color: #283c98;
    padding: 8px;
    color: #e6e6e6;
    font-size: 65%;
}

.section-preheader ion-icon {
    display: inline-block;
    float: left;
    height: 15px;
    width: 15px;
    margin-right: 7px;
    text-align: left;
    margin-top: -1px;
}

.contactlist {
    float: left;
    list-style: none;
}

.contactlist li {
    display: inline-block;
    margin-right: 7px;
}

.contactlist li a:link,
.contactlist li a:visited {
    padding: 8px 0px;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border: 0;
    border-bottom: 2px solid transparent;
    transition: color 0.2s;
}

.contactlist li a:hover,
.contactlist li a:active {
    color: #40a5e0;
}

.section-preheader ion-icon {
    font-size: 120%;
    color: #ccc;
}


/* ------- NAVIGATION --------- */

nav {
    background-color: #fff;
    
}

.logo,
.logoMini {
    height: 50px;
    width: auto;
    float: left;
    margin: 20px 0;
}

.logoMini {
    display: none;
}

.main-nav .stickyPhone {
    display: none;
}

/* Main Navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 34px
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0px;
    color: #283c98;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border: 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #283c98;
}

/* Sticky Navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 9999;
}

.sticky .logo {
    display: none;
}

.sticky .logoMini {
    display: block;
    height: 30px;
    width: auto;
    margin: 15px 0
}

.sticky .main-nav {
    float: right;
    list-style: none;
    margin-top: 20px;
}

.sticky .main-nav .stickyPhone {
    display: inline-block;
}

.sticky ion-icon {
    display: inline-block;
    float: left;
    height: 22px;
    width: 22px;
    margin-right: 5px;
    text-align: left;
    margin-top: 0px;
    color: #283c98;
}
/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */

header {
    background-image: url(img/2bkgd.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #555555;
}

.international {
    list-style: none;
    margin-top: 20px;
    margin-left: 25px;
}

.international li{
    margin-bottom: 25px;
    margin-left: 5px
}
.international li:last-child{
    margin-bottom: 50px;
}

.international ion-icon {
    display: inline-block;
    float: left;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    text-align: left;
    color: #283c98;
}

/* ------------------------------------ */
/* TWO INDUSTRIES */
/* ------------------------------------ */

.section-sales {
    background-image: url(img/secondbg.png);
    background-size: cover;
    background-position: center;
    height: 130vh;
}


.section-sales ion-icon {
    color: #283c98;
    font-size: 50px;
    margin-bottom: 15px;
}

.section-sales .long-copy {
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 50
}

.section-sales .explanations .box {
    padding-right: 30px;
}

.section-sales .explanations .box p,
.section-sales .explanations .box li{
    list-style: none;
}

.indent{
    margin-left: 45px;
}

.preparation ion-icon {
    display: inline-block;
    float: left;
    height: 30px;
    width: 30px;
    margin-right: 10px;
    text-align: left;
    margin-top: 2px;
    color: #283c98;
}

/* ------------------------------------ */
/* SERVICES */
/* ------------------------------------ */
/*
.section-services .col {
    margin: 0;
}


.section-services {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #f5f5f5;
}

.servicesPicture div {
    background-image: url(img/earthbkgd.jpg);
    background-size: cover;
    background-position: center;
    height: 75vh;
}

.section-services h2 {
    margin-top: 60px;
    text-align: left;
    margin-left: 75px;
}

.section-services h2:after {
    display: block;
    position: absolute;
    height: 2px;
    background-color: #283c98;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.section-services p {
    text-align: left;
    margin: 10px 75px 25px;
}


*/

/* ------------------------------------ */
/* TEAM */
/* ------------------------------------ */

.short-row {
    max-width: 1000px;
    position: relative;
}

.btn-bio {
    position: absolute;
    bottom: 46;
    left: 245;
    font-weight:
}

.short-row:after {
        display: block;
    height: 1px;
    background-color: #283c98;
    content: " ";
    width: 1000px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.section-team p {
    line-height: 1.5
}

.section-team .long-copy {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 75px;
}

.idividual-content {
    display: inline-block;   
}


.teamPortraits {
    float: left;
    height: 300px;
    width: auto;
    margin: 0 45px 45px 0;
}

#dots {
    margin: 0;
}

.section-team ion-icon {
    display: inline-block;
    float: left;
    height: 22px;
    width: 22px;
    margin-right: 5px;
    text-align: left;
    margin-top: 0px;
    color: #283c98;
}

/* ------------------------------------ */
/* STATISTICS */
/* ------------------------------------ */
/*
.section-counter {
    background-color: #f5f5f5;
    padding: 35px 0;
}

.section-counter ion-icon {
    text-align: center;
    font-size: 180%;
    color: #283c98;
    margin-left: 160
    
}

.section-counter p {
    text-align: center;
    
}
*/
/* ------------------------------------ */
/* NEXTGEN DIFFERENCE */
/* ------------------------------------ */

.section-stats {
    background-image:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/numberone.png);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    font-size:500%;
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    
    
}

cite {
    font-size: 90%;
    margin-top: 25px;
    display: block;
}

cite img {
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

/* ------------------------------------ */
/* COMPENSATION */
/* ------------------------------------ */

.section-compensation h2 {
    margin-top: 60px;
    text-align: left;
    margin-left: 75px;
}

.section-compensation h2:after {
    display: block;
    position: absolute;
    height: 2px;
    background-color: #283c98;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 10px;
}

.section-compensation .col {
    margin-top: 0;
    margin-bottom: 0;
}



.section-compensation li{
    margin-left: 75px;
    margin-right: 50px;
    list-style: none;
    line-height: 1.5;
}

.section-compensation .row {
    max-width: none;
}

.section-compensation {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
    background-color: #f5f5f5;
}

.compPicture div {
    background-image: url(img/compbkg.png);
    background-size: cover;
    background-position: center;
    height: 75vh;
}


/* ------------------------------------ */
/* CONTACT */
/* ------------------------------------ */

.section-contact {
    padding-bottom: 0;
}

.section-contact .long-copy {
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5
}

.contact-form {
    width: 60%;
    margin: 45px 20%;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    margin: 10px 0;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 150px;
}

*:focus {
    outline: none;
}

/* ------------------------------------ */
/* FOOTER */
/* ------------------------------------ */

footer {
    padding: 15px 0;
    background-color: #283c98;
    color: #e6e6e6;
    font-size: 75%;
    text-align: center;
}

.footerList {
    list-style: none;
    float: none;
    margin: 18px 0 8px 0;
}

.footerList li {
    display: inline-block;
    margin-right: 7px;
}



/* ------------------------------------ */
/* Animations */
/* ------------------------------------ */

.js--wp-1 {
    opacity: 0;
}

.js--wp-1.animated {
    opacity: 1;
}

/* ------------------------------------ */
/* Slideshow */
/* ------------------------------------ */


* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #505050;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  background-color: rgba(0,0,0,0.1);
}

/* Position the "next button" to the right */
.next {
  right: -41;
  top: 200px;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.prev {
  left: -41;
  top: 200px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a #2f2f2f background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #ccc;
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
















